.feedback{
  margin-top: 50px;

  &-items{
    margin-top: 100px;
  }

  &-title{
    color: $txt-red;
    font-weight: 600;
  }
}

.feedbackItem{
  margin-top: 50px;

  &-title{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &-date{
    font-weight: 300;
  }

  &-review{
    margin : 20px 0;
  }

  &-name{
    font-weight: 500;
    margin-bottom: 50px;
  }
}