.footer{
  background-color: $third-bg;
  width:100%;
  color: $txt_white;
  padding: 20px;

  &-logo{
    width: 100%;
    @include flex(center, center);
    img{
      height: 75px;

      @include mobile{
        height: 50px
      }
    }
  }

  &-quote{
    @include flex(center, center);
    font-family: 'Playfair Display', sans-serif;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
    letter-spacing: 2px;

    @include mobile{
      font-size: 15px;
      @include flex(center, center);
      margin-top: 10px
    }
  }

  &-content{
    @include flex(center, space-between);

    &-contact{
      width: 689px;
      font-size: 20px;

      @include mobile{
        font-size: 16px;
        margin-bottom: 30px;
      }
    }

    &-social-media{
      @include flex(center, flex-end);
      color: rgba($color: #fff, $alpha: 0.65);
      font-size: 35px;
      .social-media{
        i{
          margin-left: 10px;
        }
        i:hover{
          color: #fff;
        }
      }
    }
  }
}